// .myProfile {
//   display: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 10;

//   background-color: rgba($color: #000000, $alpha: 0.5);
//   backdrop-filter: blur(5px);

main {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -999px;
  width: 700px;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: right 0.8s ease-in-out;
  z-index: 10;

  .section1 {
    //   background-color: #fcd5ce;
    background-color: #097338;
    width: 100px;
    height: 100%;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    .icon1,
    .icon2 {
      // background-color: #097338;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .section2,
  .section3 {
    background-color: #f8f9fa;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4rem;

    h1 {
      color: #212529;
      margin: 0;
      //   position: absolute;
      //   top: -53px;
      //   left: 60px;
      font-size: 4rem;
    }
    .close-profile {
      position: absolute;
      top: 5%;
      right: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .form1 {
        width: 100%;
        label {
          font-weight: 600;
          display: block;
          color: rgba($color: #212529, $alpha: 0.5);
        }
        input {
          font-size: 0.8rem;
          font-weight: 400;
          padding: 0.5rem 0 0.5rem 0.1rem;
          outline: transparent;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #097338;
          margin-bottom: 2rem;
          min-width: 200px;
          max-width: 200px;
        }
      }
      .form2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        position: relative;
        .profile-img {
          background-color: #212529;
          border-radius: 100%;
          aspect-ratio: 1/1;
          width: 200px;
          object-fit: cover;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        label {
          position: absolute;
          top: 32%;
          left: 70%;
          background-color: #f8f9fa;
          box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.25);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.2rem;
        }
        input {
          display: none;
        }

        button {
          margin-top: 1rem;
          border: none;
          background-color: #097338;
          border-radius: 0.2rem;
          color: #f8f9fa;
          font-weight: 500;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .section3 {
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .close-profile {
      position: absolute;
      top: 5%;
      right: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .key-img {
      padding: 0.3rem;
      border: 2px solid #f8f9fa;
      border-radius: 0.3rem;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
    }
    h1 {
      color: #f8f9fa;
      position: static;
      font-size: 1.5rem;
      margin: 0;
    }
    p {
      color: #f8f9fa;
      font-size: 0.7rem;
      margin: 0;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      width: 300px;
      height: fit-content;
      margin-top: 1rem;
      input {
        border: 1px solid rgba($color: #f8f9fa, $alpha: 0.5);
        border-radius: 0.3rem;
        background-color: transparent;
        width: 100%;
        padding: 0.5rem 0.3rem;
        outline: transparent;
        margin-bottom: 1rem;
        color: #f8f9fa;
      }

      button {
        background-color: #f8f9fa;
        border-radius: 0.3rem;
        border: none;
        color: #097338;
        font-weight: 600;
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
  .section3 {
    display: none;
  }
}
// }
